<% if logged_in?  %>
  <script type="text/javascript">
      window.currentUser = <%=  render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
  </script>
<% end %>


<script type="text/javascript">
  window.staticImages = {
    defaultRestaurant: "<%= asset_url('default_rest_thumbnail.png') %>",
    defaultRestaurantBanner: "<%= asset_url('default_rest_show_banner.jpg') %>",
    OvalTableLogo: "<%= asset_url('OvalTableLogo.png') %>",
    restBanner01: "<%= asset_url('homepage_slideshow/rest001.jpg') %>",
    restBanner02: "<%= asset_url('homepage_slideshow/rest002.jpg') %>",
    restBanner03: "<%= asset_url('homepage_slideshow/rest003.jpg') %>",
    restBanner04: "<%= asset_url('homepage_slideshow/rest004.jpg') %>"
  }
</script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<main id="root"></main>
